<div class="page login-page">
    <form action="">
        <img src="./img/international.png" class="logo">
        <p id="frmErr" class="error"></p>
        <div>

            <p id="userNameErr" class="error"></p>
            <label for="userName">用户名</label>
            <img src="./img/user.png" class="ipt-icon">
            <input type="text" name="userName" id="userName">
        </div>
        <div>

            <p id="passwordErr" class="error"></p>
            <label for="password">密&nbsp;&nbsp;&nbsp;&nbsp;码</label>
            <img src="./img/lock.png" class="ipt-icon">
            <input type="password" name="password" id="password">
        </div>

        <button id="btnLogin" [routerLink]="['/management']">登录</button>
    </form>

</div>